<span class="powers">
  <div class="section-header">
    <button type="button" class="item-create controls" data-type="power">
      <i class="fa fa-plus"></i>{{localize "SSO.Add"}} {{localize "SSO.Power"}}
    </button>
  </div>
  {{#if powers.hasPowersWithoutArcane}}
  <header class="section-header">
    <span class="name">{{localize "SSO.General"}}</span>
    <span class="pp-counter controls">
      PP:&nbsp;
      <label>
        <span class="sr-only">{{localize "SSO.CurPP"}}</span>
        <input
          type="number"
          name="data.powerPoints.value"
          value="{{data.powerPoints.value}}"
        />
      </label>
      /
      <label>
        <span class="sr-only">{{localize "SSO.CurPP"}}</span>
        <input
          type="number"
          name="data.powerPoints.max"
          value="{{data.powerPoints.max}}"
        />
      </label>
    </span>
  </header>
  <ul>
    {{#each itemsByType.power}} {{#unless data.arcane}}
    <li class="power item" data-item-id="{{_id}}">
      <span class="flexrow">
        <img class="item-image" src="{{img}}" alt="{{name}}" />
        <span class="item-name">
          <button type="button">{{name}}</button>
        </span>
        <div class="item-controls">
          {{#if ../owner}}
          <button
            type="button"
            class="item-toggle {{#unless data.equipped}}item-unequipped{{/unless}}"
          >
            <i class="fas fa-star"></i>
          </button>
          <button type="button" class="item-show">
            <i class="far fa-comment-alt"></i>
          </button>
          <button type="button" class="item-edit">
            <i class="fas fa-edit"></i>
          </button>
          {{/if}}
        </div>
      </span>
      <div class="description">
        <span class="power-details">
          {{#if data.damage}}
          <button type="button" class="damage-roll">
            {{localize "SSO.Dmg"}}: {{data.damage}}
          </button>
          {{/if}}
          <span>{{localize "SSO.Rank"}}: {{data.rank}}&nbsp;</span>
          <span>{{localize "SSO.PP"}}: {{data.pp}}&nbsp;</span>
          <span>{{localize "SSO.Rng"}}: {{data.range}}&nbsp;</span>
          <span>{{localize "SSO.Dur"}}: {{data.duration}}&nbsp;</span>
        </span>
        <div class="trapping">
          {{localize "SSO.Trapping"}}: {{data.trapping}}
        </div>
        {{enrich data.description}}
      </div>
    </li>
    {{/unless}} {{/each}}
  </ul>
  {{/if}} {{#each powers.arcanes as |arcane key|}}
  <header class="section-header">
    <span class="name">{{key}}</span>
    <span class="pp-counter controls">
      PP:&nbsp;
      <label>
        <span class="sr-only">{{localize "SSO.CurPP"}}</span>
        <input
          type="number"
          name="{{arcane.valuePath}}"
          value="{{arcane.value}}"
        />
      </label>
      /
      <label>
        <span class="sr-only">{{localize "SSO.MaxPP"}}</span>
        <input type="number" name="{{arcane.maxPath}}" value="{{arcane.max}}" />
      </label>
    </span>
  </header>
  <ul>
    {{#each arcane.powers}}
    <li class="power item" data-item-id="{{_id}}">
      <span class="flexrow">
        <img class="item-image" src="{{img}}" alt="{{name}}" />
        <span class="item-name">
          <button type="button">{{name}}</button>
        </span>
        <div class="item-controls">
          {{#if ../../owner}}
          <button
            type="button"
            class="item-toggle {{#unless data.equipped}}item-unequipped{{/unless}}"
          >
            <i class="fas fa-star"></i>
          </button>
          <button type="button" class="item-show">
            <i class="far fa-comment-alt"></i>
          </button>
          <button type="button" class="item-edit">
            <i class="fas fa-edit"></i>
          </button>
          {{/if}}
        </div>
      </span>
      <div class="description">
        <span class="power-details">
          {{#if data.damage}}
          <button type="button" class="damage-roll">
            {{localize "SSO.Dmg"}}: {{data.damage}}
          </button>
          {{/if}}
          <span>{{localize "SSO.Rank"}}: {{data.rank}}&nbsp;</span>
          <span>{{localize "SSO.PP"}}: {{data.pp}}&nbsp;</span>
          <span>{{localize "SSO.Rng"}}: {{data.range}}&nbsp;</span>
          <span>{{localize "SSO.Dur"}}: {{data.duration}}&nbsp;</span>
        </span>
        <div class="trapping">
          {{localize "SSO.Trapping"}}: {{data.trapping}}
        </div>
        {{enrich data.description}}
      </div>
    </li>
    {{/each}}
  </ul>
  {{/each}}
</span>
