// Generic checkbox styling
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: $medium-font;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:focus {
      .check-container {
        border: 1px solid black;
      }
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $input-bg-dark;
  border-radius: $small-spacing;
}

.check-container {
  &:hover input ~ .checkmark {
    background-color: $input-bg-dark;
    box-shadow: 0 0 5px red;
  }
  &:focus input ~ .checkmark {
    box-shadow: 0 0 5px red;
  }
  input:checked ~ .checkmark {
    background-color: $input-bg-dark;
  }
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.check-container {
  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid $header-text;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
//End of Checkbox styling
